## TODO UPDATE for 2023 with whatever is on colab
## can call following in colab to get version numbers
### pip freeze > requirements.txt

cryptography==43.0.0
matplotlib==3.7.1
numpy==1.26.4
pandas==1.5.3
seaborn==0.13.2
scikit-learn==1.5.1
xgboost==2.1.2
sympy==1.13.2

## python version: 3.12.7
