## TODO UPDATE for 2023 with whatever is on colab
## can call following in colab to get version numbers
### pip freeze > requirements.txt

cryptography==41.0.5
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
seaborn==0.12.2
scikit-learn==1.2.2
xgboost

## python version: 3.7.12 
